<!DOCTYPE html>
<html>
<body >
<div></div>
<div class='wrapper'> 
	<div id='titlepage' style='text-align:center;  background:rgb(189, 63, 38);min-height: 1300px;'>
		<img src='http://members.launchmyempire.com/img/MAIN.png'/>
	</div>
	<div id='normalpages'>
		<h1>YOUR BUSINESS PLAN DETAILS</h1>
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 1: Create a List of Possible Niches
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
		<ol>
			<li>asd</li>
			<li>sdgf</li>
			<li>hshd</li>
			<li>hds</li>
			<li>hdj</li>
			</ol>
		</div>
		
		
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 2: Finalize the Niche to Build
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
			asd
		</div>
		
		
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 3: Find 5 of The Top Products In Your Market
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
		<ol> <li><a href='omer.com'>omer.com</a></li> <li><a href='omer1.com'>omer1.com</a></li> <li><a href='omer2.com'>omer2.com</a></li> <li><a href='omer3.com'>omer3.com</a></li> <li><a href='omer4.com'>omer4.com</a></li> </ol>
		</div>
		
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 4: Look For Common Trends In Your Market
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
			<ol><li><a href='omer.com'>omer.com</a><br /><br /><ul>
                                   <li><strong>Price:</strong> 34, <strong>Type:</strong>fsgsf, <strong>Sold on:</strong> fdgfdg (network)</li>
                                   <li><strong>Main hook:</strong> dfgdfgfd</li>
				   <li><strong>Provides</strong>: fdgfdg</li>
				   </ul></li><br/><li><a href='omer1.com'>omer1.com</a><br /><br /><ul>
                                   <li><strong>Price:</strong> 34, <strong>Type:</strong>fs, <strong>Sold on:</strong> dfgfd (network)</li>
                                   <li><strong>Main hook:</strong> fdgdfg</li>
				   <li><strong>Provides</strong>: dfgfd</li>
				   </ul></li><br/><li><a href='omer2.com'>omer2.com</a><br /><br /><ul>
                                   <li><strong>Price:</strong> 54, <strong>Type:</strong>fbfb, <strong>Sold on:</strong> vbcvbv (private)</li>
                                   <li><strong>Main hook:</strong> hjf</li>
				   <li><strong>Provides</strong>: fjfgj</li>
				   </ul></li><br/><li><a href='omer3.com'>omer3.com</a><br /><br /><ul>
                                   <li><strong>Price:</strong> 67, <strong>Type:</strong>vxbvxb, <strong>Sold on:</strong> vbvb (private)</li>
                                   <li><strong>Main hook:</strong> hhjhj</li>
				   <li><strong>Provides</strong>: fgjfj</li>
				   </ul></li><br/><li><a href='omer4.com'>omer4.com</a><br /><br /><ul>
                                   <li><strong>Price:</strong> 45, <strong>Type:</strong>gcn, <strong>Sold on:</strong> cnc (private)</li>
                                   <li><strong>Main hook:</strong> cgg</li>
				   <li><strong>Provides</strong>: gfjfj</li>
				   </ul></li><br/> </ol>
		</div>
		
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 5: Determine Your Price
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
			56
		</div>
		
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 6: Determine The Type of Product You Will Create
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
			written - &nbsp
		</div>
		
		
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 7: Why Should Someone Buy Your Product?
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
			<ul>
				<li><strong>URL:</strong> sdsdv</li>
				<li><strong>Name:</strong> svsv</li>
				<li><strong>USP:</strong> svsv</li>
				<li><strong>Benefits:</strong> svsfv</li>
			</ul>
		</div>
		
		
		
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 8 - part1: Let's Get a Detailed Idea of What's Inside Your Product
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'> <ul><li>ffv</li><li>sfgs</li><li>sfgsg</li><li>sfgsg</li><li>sfgsgs</li> </ul> </div>
		
		
		
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 8 - Part2 - Let's Dive Into Each Module Now!
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'> <ul><li>ffv <ul><li>dfhdfh</li> </ul></li><li>sfgs <ul><li>dfhdfh</li> </ul></li><li>sfgsg <ul><li>ddhd</li> </ul></li><li>sfgsg <ul><li>dhh</li> </ul></li><li>sfgsgs <ul><li>fhnfnf</li> </ul></li> </ul></div>
		
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 9: Are You Going To Want Some Additional Help?
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
			<ul>
				<li>Will you use outsourcing? : <strong>yes</strong></li>
				<li>Will you use expert interviews? :<strong> no</strong></li>
			</ul>
		</div>
		
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 10: Your Bonus Titles & Information
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'><ul><li><strong>vbfxbfb</strong><br /><br /><ul><li>Price: $ 32</li><li>Type: $ audio</li></ul><br /><li><strong>vbfxbfb</strong><br /><br /><ul><li>Price: $ 32</li><li>Type: $ audio</li></ul><br /><li><strong>tuk</strong><br /><br /><ul><li>Price: $ 5</li><li>Type: $ audio</li></ul><br /></ul></div>
		
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 11: 
		</div>
                <div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding:0 15px 15px'>
			Are you going to have an UPSELL in your funnel?
		</div>
		<div class='answer' style='padding-bottom: 7px;    padding-left: 15px;'> Yes  <ul>
				<li><strong>Name:</strong> sfvfgs</li>
				<li><strong>Price:</strong> 23</li>
				<li><strong>Main hook:</strong> sffs</li>
                                <li><strong>Deliver method:</strong> video</li>
			</ul> </div>
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 0 15px 15px;'>
			Are you going to have an DOWNSELL in your funnel?
		</div>
                <div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>Yes <ul>
				<li><strong>Name:</strong> sdfsf</li>
				<li><strong>Price:</strong> 23</li>
				<li><strong>Main hook:</strong> svsdv</li>
                                <li><strong>Deliver method:</strong> video</li>
			</ul> </div>
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 12: Are You Going To Want Some Additional Help For Upsells?
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
			<ul>
				<li>Will you use outsourcing? : <strong>yes</strong></li>
				<li>Will you use expert interviews? :<strong>no</strong></li>
			</ul>
		</div>
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 13: Which Technology Do You Want To use?
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
			uvyviy
		</div>
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 14: How Will You Reach Your Prospects & Customers? Which autoresponder do you want to use?
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
			kgyyfy
		</div>
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 15: How Will You Transact Sales & Collect Revenue? Which payment processor do you want to use?
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
			jucucuc
		</div>
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 16: How Will You Take Great Care of Your Customers? Which customer support system do you want to use?
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
			yyfcycycy
		</div>
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 17: You Have 3 Options : Pick Your Favorite! How are you going to sell your product?
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
			sales-pages
		</div>
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 18: Are you going to outsource your copywriting?
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
			yes
		</div>
	</div>
</div>
</body>