<!DOCTYPE html>
<html>
<body >
<div></div>
<div class='wrapper'> 
	<div id='titlepage' style='text-align:center;  background:rgb(189, 63, 38);min-height: 1300px;'>
		<img src='http://members.launchmyempire.com/img/MAIN.png'/>
	</div>
	<div id='normalpages'>
		<h1>YOUR BUSINESS PLAN DETAILS</h1>
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 1: Create a List of Possible Niches
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
		<ol>
			<li>&nbsp</li>
			<li>&nbsp</li>
			<li>&nbsp</li>
			<li>&nbsp</li>
			<li>&nbsp</li>
			</ol>
		</div>
		
		
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 2: Finalize the Niche to Build
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
			&nbsp
		</div>
		
		
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 3: Find 5 of The Top Products In Your Market
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
		<ol> </ol>
		</div>
		
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 4: Look For Common Trends In Your Market
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
			<ol> </ol>
		</div>
		
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 5: Determine Your Price
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
			&nbsp
		</div>
		
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 6: Determine The Type of Product You Will Create
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
			&nbsp - &nbsp
		</div>
		
		
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 7: Why Should Someone Buy Your Product?
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
			<ul>
				<li><strong>URL:</strong> &nbsp</li>
				<li><strong>Name:</strong> &nbsp</li>
				<li><strong>USP:</strong> &nbsp</li>
				<li><strong>Benefits:</strong> &nbsp</li>
			</ul>
		</div>
		
		
		
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 8 - part1: Let's Get a Detailed Idea of What's Inside Your Product
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'> </div>
		
		
		
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 8 - Part2 - Let's Dive Into Each Module Now!
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'></div>
		
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 9: Are You Going To Want Some Additional Help?
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
			<ul>
				<li>Will you use outsourcing? : <strong>&nbsp</strong></li>
				<li>Will you use expert interviews? :<strong> &nbsp</strong></li>
			</ul>
		</div>
		
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 10: Your Bonus Titles & Information
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'><ul></ul></div>
		
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 11: 
		</div>
                <div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding:0 15px 15px'>
			Are you going to have an UPSELL in your funnel?
		</div>
		<div class='answer' style='padding-bottom: 7px;    padding-left: 15px;'> No  </div>
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 0 15px 15px;'>
			Are you going to have an DOWNSELL in your funnel?
		</div>
                <div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'> No  </div>
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 12: Are You Going To Want Some Additional Help For Upsells?
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
			<ul>
				<li>Will you use outsourcing? : <strong>&nbsp</strong></li>
				<li>Will you use expert interviews? :<strong>&nbsp</strong></li>
			</ul>
		</div>
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 13: Which Technology Do You Want To use?
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
			&nbsp
		</div>
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 14: How Will You Reach Your Prospects & Customers? Which autoresponder do you want to use?
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
			&nbsp
		</div>
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 15: How Will You Transact Sales & Collect Revenue? Which payment processor do you want to use?
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
			&nbsp
		</div>
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 16: How Will You Take Great Care of Your Customers? Which customer support system do you want to use?
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
			&nbsp
		</div>
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 17: You Have 3 Options : Pick Your Favorite! How are you going to sell your product?
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
			&nbsp
		</div>
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 18: Are you going to outsource your copywriting?
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
			&nbsp
		</div>
	</div>
</div>
</body>