<!DOCTYPE html>
<html>
<body >
<div></div>
<div class='wrapper'> 
	<div id='titlepage' style='text-align:center;  background:rgb(189, 63, 38);min-height: 1300px;'>
		<img src='http://members.launchmyempire.com/img/MAIN.png'/>
	</div>
	<div id='normalpages'>
		<h1>YOUR BUSINESS PLAN DETAILS</h1>
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 1: Create a List of Possible Niches
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
		<ol>
			<li>Arts & Entertainment###Dance</li>
			<li>Arts & Entertainment###Fashion</li>
			<li>Arts & Entertainment###Humor</li>
			<li>Business/Investing###Careers Industries & Professionals</li>
			<li>Business/Investing###Derivatives</li>
			</ol>
		</div>
		
		
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 2: Finalize the Niche to Build
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
			Arts & Entertainment###Photography
		</div>
		
		
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 3: Find 5 of The Top Products In Your Market
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
		<ol> <li><a href='http://mytestwebsite.com/page1'>http://mytestwebsite.com/page1</a></li> <li><a href='http://mytestwebsite.com/page2'>http://mytestwebsite.com/page2</a></li> <li><a href='http://mytestwebsite.com/page3'>http://mytestwebsite.com/page3</a></li> <li><a href='http://mytestwebsite.com/page4'>http://mytestwebsite.com/page4</a></li> <li><a href='http://mytestwebsite.com/page5'>http://mytestwebsite.com/page5</a></li> </ol>
		</div>
		
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 4: Look For Common Trends In Your Market
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
			<ol><li><a href='http://mytestwebsite.com/page1'>http://mytestwebsite.com/page1</a><br /><br /><ul>
                                   <li><strong>Price:</strong> 1212, <strong>Type:</strong>dsdsdf, <strong>Sold on:</strong> Platform1 (private)</li>
                                   <li><strong>Main hook:</strong> sdfsdf</li>
				   <li><strong>Provides</strong>: sdfsdf</li>
				   </ul></li><br/><li><a href='http://mytestwebsite.com/page2'>http://mytestwebsite.com/page2</a><br /><br /><ul>
                                   <li><strong>Price:</strong> 232, <strong>Type:</strong>sdfsdf, <strong>Sold on:</strong> Platform3 (network)</li>
                                   <li><strong>Main hook:</strong> dfsdf</li>
				   <li><strong>Provides</strong>: sdfsdf</li>
				   </ul></li><br/><li><a href='http://mytestwebsite.com/page3'>http://mytestwebsite.com/page3</a><br /><br /><ul>
                                   <li><strong>Price:</strong> 1231, <strong>Type:</strong>sfsdfsdf, <strong>Sold on:</strong> Platform3 (private)</li>
                                   <li><strong>Main hook:</strong> sfsdf</li>
				   <li><strong>Provides</strong>: sfsdf</li>
				   </ul></li><br/><li><a href='http://mytestwebsite.com/page4'>http://mytestwebsite.com/page4</a><br /><br /><ul>
                                   <li><strong>Price:</strong> 111, <strong>Type:</strong>sdfsdfs, <strong>Sold on:</strong> Platform3 (private)</li>
                                   <li><strong>Main hook:</strong> dfsdf</li>
				   <li><strong>Provides</strong>: sdfsdf</li>
				   </ul></li><br/><li><a href='http://mytestwebsite.com/page5'>http://mytestwebsite.com/page5</a><br /><br /><ul>
                                   <li><strong>Price:</strong> 1212, <strong>Type:</strong>sfsdfsdf, <strong>Sold on:</strong> Platform2 (network)</li>
                                   <li><strong>Main hook:</strong> sdfsdf</li>
				   <li><strong>Provides</strong>: sdfsdfsdf</li>
				   </ul></li><br/> </ol>
		</div>
		
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 5: Determine Your Price
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
			122
		</div>
		
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 6: Determine The Type of Product You Will Create
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
			software - desktop_app
		</div>
		
		
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 7: Why Should Someone Buy Your Product?
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
			<ul>
				<li><strong>URL:</strong> dfsdf</li>
				<li><strong>Name:</strong> sfddf</li>
				<li><strong>USP:</strong> sdfsdf</li>
				<li><strong>Benefits:</strong> sfsdfsdf</li>
			</ul>
		</div>
		
		
		
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 8 - part1: Let's Get a Detailed Idea of What's Inside Your Product
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'> <ul><li>sdfsdf</li><li>sdfsdfsf</li><li>third</li><li>fourth</li> </ul> </div>
		
		
		
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 8 - Part2 - Let's Dive Into Each Module Now!
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'> <ul><li>sdfsdf <ul><li>sdfsdf</li> </ul></li><li>sdfsdfsf <ul><li>dfsdf</li> </ul></li><li>third <ul><li>sdfsdf</li><li>sdfsfsdf</li> </ul></li><li>fourth <ul><li>sfsdf</li><li>sfsf</li><li>sfsdf</li> </ul></li> </ul></div>
		
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 9: Are You Going To Want Some Additional Help?
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
			<ul>
				<li>Will you use outsourcing? : <strong>no</strong></li>
				<li>Will you use expert interviews? :<strong> yes</strong></li>
			</ul>
		</div>
		
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 10: Your Bonus Titles & Information
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'><ul><li><strong>dfsdfsdfsf</strong><br /><br /><ul><li>Price: $ </li><li>Type: $ software</li></ul><br /></ul></div>
		
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 11: 
		</div>
                <div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding:0 15px 15px'>
			Are you going to have an UPSELL in your funnel?
		</div>
		<div class='answer' style='padding-bottom: 7px;    padding-left: 15px;'> No  </div>
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 0 15px 15px;'>
			Are you going to have an DOWNSELL in your funnel?
		</div>
                <div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'> No  </div>
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 12: Are You Going To Want Some Additional Help For Upsells?
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
			<ul>
				<li>Will you use outsourcing? : <strong>&nbsp</strong></li>
				<li>Will you use expert interviews? :<strong>&nbsp</strong></li>
			</ul>
		</div>
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 13: Which Technology Do You Want To use?
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
			dfgdfg
		</div>
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 14: How Will You Reach Your Prospects & Customers? Which autoresponder do you want to use?
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
			autoresponder2
		</div>
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 15: How Will You Transact Sales & Collect Revenue? Which payment processor do you want to use?
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
			paymentprocessor4
		</div>
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 16: How Will You Take Great Care of Your Customers? Which customer support system do you want to use?
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
			other###tttttttttt
		</div>
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 17: You Have 3 Options : Pick Your Favorite! How are you going to sell your product?
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
			webinar
		</div>
		<div class='step' style='font-weight:bold; font-size:20px; color:#BD3F26;padding: 15px;text-decoration: underline;'>
			Step # 18: Are you going to outsource your copywriting?
		</div>
		<div class='answer' style='border-bottom: 1px solid #BD3F26; padding-bottom: 25px;    padding-left: 15px;'>
			yes
		</div>
	</div>
</div>
</body>